body {
  overflow: hidden;
}


canvas {
  position: absolute;
  inset-inline-start: 0;
  inset-block-start: 0;

  inline-size: 100%;
  block-size: 100%;


  background-color: black;

  object-fit: none;
}


label {
  position: absolute;
  inset-inline-start: 50%;
  inset-block-end: 10px;

  translate: -50% 0;

  max-inline-size: calc(100% - 20px);
  inline-size: 400px;


  color: white;


  > input {
    inline-size: 100%;
  }
}
